/* Navbar styles */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  color: azure;
  height: 5rem;
  transition: 250ms;
}
/* Dropdown styles */
.relative {
  position: relative;
  
}

.dropdown-toggle {
  background: none;
  border: none;
  color: azure;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 16px; /* Increase font size */
}

.dropdown-toggle .arrow-icon {
  margin-left: 3px;
  font-size: 18px; /* Increase arrow size */
  transition: transform 0.3s ease;
}

.dropdown-toggle:hover .arrow-icon {
  transform: rotate(180deg); /* Optional: Rotate the arrow on hover */
}

.dropdown-menu {
  position: absolute;
  right: 0;
  border-radius: 6px; /* Slightly larger border radius */
  overflow: hidden;
  z-index: 2;
  width: max-content;
  min-width: 200px; /* Adjust minimum width */
  padding: 29px 0; /* Add some padding */
}
.drop-down-content{
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  background-color: rgba(20, 22, 39, 0.545);
}
.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 15px 25px; /* Increase padding for larger clickable area */
  color: azure;
  font-size: 16px; /* Increase font size */
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar_on_move {
  background-color: rgba(20, 22, 39, 0.545);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

nav h1 {
  font-size: 30px;
  font-family: "Monomaniac One", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 4px;
  margin-top: 6px;
}

#hamburger {
  display: none;
}

#nav-right li {
  list-style: none;
}

#nav-right li a {
  color: azure;
  text-decoration: none;
  opacity: 0.75;
}

#nav-right {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
}

.cover-nav-space {
  height: 50px;
}

#nav-right li a:hover {
  opacity: 1;
}

@media (max-width: 650px) {
  #nav-right li a {
    opacity: 1;
  }

  #nav-right {
    flex-direction: column;
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }

  #nav-right.expand {
    height: 200px;
    margin-top: 20px;
  }

  .mobview {
    width: 90vw;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
  }

  #hamburger {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  #hamburger.expand {
    transform: rotate(90deg);
  }

  nav {
    background-color: rgb(0 50 87);
    flex-direction: column;
    height: fit-content;
  }

  .cover-nav-space {
    height: 60px;
  }
}
